body {
    font-size: 11px;
    font-weight: 600;
    font-family: 'Catamaran', sans-serif;
    min-width: 750px;
}

.main-wrapper {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%;
    float: left;
    display: block;
}

.left {
    float: left;
}


:focus {
    outline: 0;
}

input[type=file],
input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
}


/*header\nav*/

header {
    min-width: 768px;
    z-index: 1;
    position: fixed;
    top:0;
    left: 0;
    padding: 0 115px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 51px;
    width: 100%;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    background: #3d4264;
}


header nav li {
    float: left;
    margin-left: 30px;
    font-size: 14px;
    position: relative;
}



header nav li:hover {
    background: -webkit-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -moz-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -ms-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
}

header .active-li {
    background: -webkit-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -moz-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -ms-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
}

header .active-li::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 29px;
    background-image: -moz-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    background-image: -webkit-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    background-image: -ms-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
}



header nav li:first-child {
    margin-left: 0;
}

header li a {
    color: #6c75b1;
    text-decoration: none;
}

header article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center;
}

header article address {
    font-style: normal;
    font-size: 14px;
    color: #6c75b1;
    margin-right: 24px;
}

header article i {
    background: url("../images/logout.png") no-repeat;
    width: 20px;
    height: 15px;
    display: block;
}


/* first section*/

.head-info {
    position: fixed;
    min-width: 768px;
    z-index: 1;
    top:50px;
    width: 100%;
    padding: 0 115px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #343955;
    background-image: url("../images/bg-head.png");
    background-size: cover;
    background-position-y: -15px;
    min-height: 90px;
    height: auto;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}

.head-info .minus-circle, .plus-circle {
    margin-top: 0;
}

.head-info h1 {
    font-size: 24px;
    color: #9a9ad2;
}

.head-info article {
    height: 35px;
    width: 32%;
}

.head-info article div {
    float: left;
    margin-bottom: 10px;
}

.marg-null {
    margin-right: 0 !important;
}

.head-info article h3 {
    width: 62px;
    margin-right: 35px;
    float: left;
    font-size: 12px;
    color: #9a9ad2;
}
.head-info article span {
    display: inline-block;
    margin-right: 45px;
    width: 55px;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    color: #9a9ad2;
    opacity: 0.6;
}

.head-info .btn-area button {
    font-size: 11px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    color: #fff;
    -webkit-border-radius: 12px;
            border-radius: 12px;
    background-image: -moz-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    background-image: -webkit-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    background-image: -ms-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    padding: 3px 16.07px;
    border: 0;
    cursor: pointer;

}

.head-info .btn-area button:last-child {
    padding: 3px 12.3px;
    margin-left: 16px;
}

.head-info .btn-area button:hover {
    background-image: -moz-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    background-image: -webkit-linear-gradient( 131deg, rgb(254,175,44) 0%,rgb(254,175,44)  100%);
    background-image: -ms-linear-gradient( 131deg, rgb(254,175,44) 0%,rgb(254,175,44)  100%);
}

.head-info .btn-area button:active {
    background-image: -moz-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    background-image: -webkit-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    background-image: -ms-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
}

.head-info .icon-actions div {
    float: left;
    position: relative;
    width: 20px;
    cursor: pointer;
    margin-left: 12px;
}

.head-info .icon-actions div:hover span {
    display: block;
}

.head-info .icon-actions i {
    background-repeat: no-repeat;
    width: 20px;
    background-position: 50%;
    height: 20px;
    display: block;
    cursor: pointer;
}

.icon-actions {
    margin-right: 15px;
}

.icon-actions i.add-file-ico {
    background-image: url(../images/add-file.png);
}

.icon-actions i.load-pdf-ico {
    background-image: url(../images/copy.png);
}

.icon-actions i.delete-ico {
    background-image: url(../images/delete.png);
}

.head-info .icon-actions span {
    background: #fff;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    width: 57px;
    position: absolute;
    text-align: center;
    left: -18px;
    top: 27px;
    padding: 6.5px 0;
    font-size: 9px;
    display: none;
}

.head-info .icon-actions input[type="file"] {
    width: 20px;
    overflow: hidden;
    position: absolute;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    opacity: 0.01;
    cursor: pointer;
}

.minus-circle, .plus-circle{
    float: right;
    margin-top: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-image: -moz-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    background-image: -ms-linear-gradient( 135deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    width: 46px;
    height: 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    cursor: pointer;
    margin-right: 0 !important;
    margin-left: 4px;
}

.plus-circle i {
    background: url("../images/plus.png") no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    background-position: 50%;
}

.minus-circle i {
    background-image: url("../images/minus.png");
    width: 20px;
    height: 20px;
    display: block;
    background-repeat: no-repeat;
    background-position: 50%;
}

/*information head*/

.info-inside {
    padding: 0 115px;
    width: 100%;
    float: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


.add-files-main {
    min-height: 96px;
    height: 100%;
    display: block;
    float: left;
    background: #eaebed;
    margin-top: 140px;
    padding: 0 114px;
    width: 100%;
    box-sizing: border-box;

}

.add-files-main span {
    display: block;
    width: 100%;
    margin-left: 99px;
    color: #373c57;
    font-size: 10px;
    font-weight: 600;
    margin-top: 15px;

}

.add-files-main button {
    border-radius: 12px;
    background-image: -moz-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    background-image: -webkit-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    background-image: -ms-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    width: 94px;
    height: 24px;
    border: 0;
    color: #fff;
    font-weight: 600;
    font-size: 10px;
    display: block;
    margin: 14px auto 33px;
    cursor: pointer;
    position: relative;
}


.add-files-main button input {
    width: 94px;
    height: 24px;
    border-radius: 12px;
    overflow: hidden;
    position: absolute;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    opacity: 0.01;
    cursor: pointer;
    top: 0;
    left:0;
}

.add-files-main button:hover {
    background-image: -moz-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    background-image: -webkit-linear-gradient( 131deg, rgb(254,175,44) 0%,rgb(254,175,44) 100%);
    background-image: -ms-linear-gradient( 131deg, rgb(254,175,44) 0%,rgb(254,175,44) 100%);
}

.info-inside label {
    text-align: right;
    font-size: 14px;
    color:#343954;
    margin-right: 24px;
    width: 100px;
    display: inline-block;
}




.info-inside input {
    border-width: 1px;
    border-color: #eaebee;
    border-style: solid;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    width: 295px;
    height: 33px;
    padding: 0 13px;
    font-family: 'Catamaran', sans-serif;
    font-size: 12px;
}

input[type="tel"] {
    font-family: 'Roboto', sans-serif;
}

input[type="text"] {
    font-weight: 600;
}

.info-inside article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    margin-top: 55px;
    float: left;
    width: 100%;
}

.info-inside article:first-child {
    margin-top: 19px;
}


/*.info-inside  div {*/
/*width: 45%;*/
/*text-align: center;*/
/*}*/

.info-inside span {
    display: block;
    margin-bottom: 24px;
    position: relative;
}

.active-arrow {
    background: url("../images/drop-arrow-orange.png");
    width: 8px;
    height: 9px;
    display: none;
    position: absolute;
    right: 13px;
    top:12px;
}

.info-inside .last-span input {
    width: 99px;
}

.info-inside .postcode-wid {
    width: 56.9%;
}

.plaats {
    width: 35px !important;
    margin-right: 11px !important;
    margin-left: 18px;
}


input[type="text"]::-webkit-input-placeholder {
    font-size: 12px;
    color: #000;
    opacity: 0.5;
}

input[type="text"]:-moz-placeholder { /* Firefox 18- */
    font-size: 12px;
    color: #000;
    opacity: 0.5;
}

input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
    font-size: 12px;
    color: #000;
    opacity: 0.5;
}

input[type="text"]:-ms-input-placeholder {
    font-size: 12px;
    color: #000;
    opacity: 0.5;
}

input[type="tel"]::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #000;
    opacity: 0.5;
}

input[type="tel"]:-moz-placeholder { /* Firefox 18- */
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #000;
    opacity: 0.5;
}

input[type="tel"]::-moz-placeholder {  /* Firefox 19+ */
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #000;
    opacity: 0.5;
}

input[type="tel"]:-ms-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #000;
    opacity: 0.5;
}

textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-weight: 600;
}
textarea::-moz-placeholder { /* Firefox 19+ */
    font-weight: 600;
}
textarea:-ms-input-placeholder { /* IE 10+ */
    font-weight: 600;
}
textarea:-moz-placeholder { /* Firefox 18- */
    font-weight: 600;
}




.sep {
    margin-top:42px;
    width: 100%;
    border: 0;
    float: left;
    background-color: #f5f5f6;
    height: 1px;
}

.info-inside em {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    opacity: 0.5;
    color: #000;
    margin-left: 13px;
    font-style: normal;
}

.dropdown-date {
    border-width: 1px;
    border-color: #eaebee;
    border-style: solid;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    width: 295px;
    height: 33px;
    float: right;
    padding: 0 13px;
    font-family: 'Catamaran', sans-serif;
    font-size: 12px;
    position: relative;
    cursor: pointer;
}

.dropdown-content {
    margin-top: 9px;
    display: none;
    border-width: 1px;
    border-color: rgb(231, 232, 233);
    border-style: solid;
    background-color: rgb(249, 249, 251);
    width: 100%;
    position: absolute;
    height: auto;
    left: 0;
    top: 30px;
    background: #fff;
    z-index: 100;
}

.dropbtn {
    margin-top: 11.5px;
}

.ar {
    background: url("../images/arrow-black.png");
    width: 7px;
    height: 5px;
    display: block;
    position: absolute;
    right: 13px;
    top:13px;
}

.dropdown-content span {
    display: block;
    cursor: pointer;
    margin: 0;
    padding: 9.5px 8px;
    text-align: left;
}

.wd-lbl {
    width: 155px !important;
}

.label-status  {
    margin-right: 0;
    margin-left: 55px;
    margin-top: 11px;
    float: left;
}

.sep-two {
    margin:25px 0 0 0;
    width: 100%;
    border: 0;
    float: left;
    background-color: #f5f5f6;
    height: 1px;
}



.info-inside textarea {
    border-width: 1px;
    border-color: #eaebee;
    border-style: solid;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    width: 295px;
    height: 64px;
    padding: 5px 13px;
    font-family: 'Catamaran', sans-serif;
    font-size: 12px;
    resize: none;
    margin-bottom: 55px;
}

.oms {
    float: left;
    margin-top: 11px;
}

.inner {
    max-width: 1660px;
    margin: 0 auto;
}


.accordion {
    display: block;
    float: left;
    margin-bottom: 77px;
    width: 100%;
}

.info-artikel {
    height: 146px;
    width: 100%;
    padding: 0 113px 0 146px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    display: block;
    background-color: #393e59;
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*-webkit-box-pack: justify;*/
    /*-ms-flex-pack: justify;*/
    /*-webkit-justify-content: space-between;*/
            /*justify-content: space-between;*/
    /*-webkit-box-align: center;*/
    /*-ms-flex-align: center;*/
    /*-webkit-align-items: center;*/
            /*align-items: center;*/
}


.info-artikel textarea {
    border-width: 1px;
    border-color: rgb(154, 154, 210);
    border-style: solid;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    width:  91%;
    height: 52px;
    padding: 5px 13px;
    font-family: 'Catamaran', sans-serif;
    font-size: 12px;
    resize: none;
}

.info-artikel textarea::-moz-placeholder {
    color: #9a9ad2;
    font-size: 12px;
}

.info-artikel textarea:-ms-input-placeholder {
    color: #9a9ad2;
    font-size: 12px;
}

.info-artikel textarea::-moz-placeholder {
    color: #9a9ad2;
    font-size: 12px;
}

.info-artikel textarea::-webkit-input-placeholder {
    color: #9a9ad2;
    font-size: 12px;
}

.artekl-table {
    display: table;
    float: left;
    margin-top: 12px;
    width: auto !important;
    margin-left: 10%;
}
.artekl-table div {
    display: table-row;
    outline: 1px solid #565a7e;
}

.artekl-table div:first-child {
    outline: 0;
}

.artekl-table div:first-child span {
    margin-top: 0;
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.artekl-table span {
    display: table-cell;
    color: #9a9ad2;
    margin: 9px 13px;
    float: left;
    width: 111px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
}


.info-artikel input {
    border-width: 1px;
    border-color: rgb(154, 154, 210);
    border-style: solid;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background-color: rgb(255, 255, 255);
    width: 48px;
    height: 23px;
    padding-left: 9px;
}

.info-artikel .active-arrow {
    right: 60px;
    top: 9.5px;
}

.info-artikel  .col-active-arrow{
    position: relative;
    float: left;
    width: 30%;
    margin-top: 40px;

}

.info-artikel  .col-active-arrow .active-arrow {
    right: 13px;
}

.artekl-btns {
    margin-top: 64px;
    float: right;
    margin-right: 17px;
    width: 59px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center;
}

.artekl-btns div {
    margin-right: 17px;
}


.artekl-btns .radio-btn {
    background: url("../images/radio.png") no-repeat;
    background-position: 50%;
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    cursor: pointer;
}

.artekl-btns .minus-circle {
    margin-right: 0;
    margin-left: 4px;
}

.radio-btn-act {
    background: url("../images/radio-active.png") no-repeat !important;
    background-position: 50% !important;
}


.artekl-btns div:nth-child(2) {
    position: relative;
}

.share-ico {
    background: url("../images/share.png") no-repeat;
    background-position: 50%;
    width: 21px;
    height: 16px;
    display: block;
    float: left;
    cursor: pointer;
}


.share-menu  {
    list-style: none;
    background: #fff;
    width: 56px;
    top: 10px;
    display: none;
    left: 15px;
    position: absolute;
    z-index: 1;
}



.share-menu li {
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    font-size: 9px;
    padding: 8px 13px;
    cursor: pointer;
    color: #343954;
}

.share-menu li:hover {
    background-color: #efefef;
}


.blue-bg {
    display: block;
    float: left;
    width: 100%;
    height: 4px;
    background-color: #9a9ad2;
}

.main-table table {
    width: 100%;
}

/*div.panel {*/
    /*display: none;*/
/*}*/

/*div.panel.show {*/
    /*display: block;*/
/*}*/

.main-table tr:first-child {
    background: #eaebee;
}

.main-table tr:first-child td {
    height: 63px;
    vertical-align: middle;
    color: #70729d;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.main-table td:first-child {
    padding-left: 113px;
}

.main-table tr {
    border-bottom: 1px solid #eaebee;
}

.main-table tr:nth-child(2) {
    height: 45px;
}

.main-table tr td {
    vertical-align: middle;
}

.main-table input {
    border: 1px solid #ebebf6;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    height: 11px;
    width: 180px;
    padding: 5px 9px;
    color: #343954;
    font-size: 11px;
    font-weight: 400;
    font-family: 'Catamaran', sans-serif;
}

.main-table tr:nth-child(3) {
    height: 52px;
}

.main-table tr:nth-child(2) td {
    color: rgba(52, 57, 84, 0.5);
    font-size: 12px;
    font-weight: 400;
}

.main-table tr:nth-child(2) td:first-child input{
    color: rgba(52, 57, 84, 0.5);
    font-weight: 600;
    font-family: 'Catamaran', sans-serif;
}

.check-ico {
    width: 12px;
    height: 12px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border-width: 1px;
    display: block;
    border-style: solid;
    background-position: 50% 50%;
    border-color: rgba(52, 57, 84, 0.5);
    cursor: pointer;
}

.check-ico-checked {
    background: url("../images/circle-check.png") no-repeat;
    background-position: 50% 50%;
}


.main-table tr td:last-child {
    padding-right: 113px;
    width: 20px;
}

.main-table tr td:nth-child(13){
    position: relative;
    width: 50px;

}

.main-table tr:nth-child(4) {
    height: 50px;
    border-bottom: 0 !important;
}

.share-ico:hover .share-menu {
    display: block !important;
}

.main-table .share-menu {
    top: -15px;
    left: 19px;
    -webkit-box-shadow: 0px 0px 9.4px 0.6px rgba(18, 14, 15, 0.06);
            box-shadow: 0px 0px 9.4px 0.6px rgba(18, 14, 15, 0.06);
}

.main-table .md-inp {
    width: 42px;
    font-family: 'Roboto', sans-serif;
}

.main-table .xs-inp {
    width: 30px;
    font-family: 'Roboto', sans-serif;
}

.main-table .dropdown-date {
    width: 46px;
    height: 21px;
    font-weight: 400;
    padding: 0 7px;
    margin-right: 37px;
}

.main-table .dropbtn {
    margin-top: 5px;
}

.main-table .ar {
    right: 8px;
    top: 9px;
    background: url("../images/arrow-table.png");
}

.main-table .dropdown-content {
    top: 15px !important;
}

.main-table .dropdown-content span {
    padding: 9.5px 8px;
}

.main-table .units-font {
    font-family: 'Roboto', sans-serif;
    color: #343954;
    font-weight: 400;
    font-size: 11px;
}

.main-table tr td:first-child {
    width: 215px;
}

.main-table .xs-circle-plus, .xs-circle-minus {
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-image: -moz-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    background-image: -ms-linear-gradient( 135deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    width: 21px;
    height: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    cursor: pointer;
    margin-right: 0 !important;
}

.main-table .xs-circle-plus i {
    background: url("../images/plus-mini.png");
    width: 9px;
    height: 9px;
    display: block;
    background-repeat: no-repeat;
    background-position: 50%;
}

.main-table .xs-circle-minus i {
    background: url("../images/minus-mini.png");
    width: 9px;
    height: 9px;
    display: block;
    background-position: 50%;
    background-repeat: no-repeat;
}

.main-table .triple-col {
    width: 70px;
}

.btw-stat{
    height: 40px !important;
    color: #343954;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    width: 100%;

    border-bottom: 1px solid transparent !important;
}

.btw-stat td {
    position: absolute;
    width: 100% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 40px;
    padding-top: 15px;
    background-image: -moz-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    background-image: -webkit-linear-gradient( 120deg, rgba(246,88,114,0.2) 0%, rgba(254,175,44, 0.2) 100%);
    background-image: -ms-linear-gradient( 120deg, rgba(246,88,114,0.2) 0%, rgba(254,175,44,0.2) 100%);
}

.main-table tr {
    height: 50px;
}

.btw-stat .md-inp {
    background: transparent;
    border: 1px solid #eae2dc;
}

.btw-stat .sort-gew {
    left: 236px;
    margin-top: -5px;
    overflow: hidden;
    width: 176px !important;
    height: 39px;
    background: transparent;
}

.main-table .total-sum {
    height: 42px;
    background:#f9f9fa;
}

.total-sum .sum-font {
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #393e59;
    padding-top: 2.5px;
}

.total-sum .units-font {
    font-weight: 600;
    font-size: 12px;
}

.main-table .stats-count {
    height: 63px;
    background: #eaebee;
    font-weight: 600;
    color: #343954;
    font-size: 12px;
}

.ops {
    border: 0;
    background-image: -moz-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    background-image: -webkit-linear-gradient( 102deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    background-image: -ms-linear-gradient( 102deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    width: 194px;
    height: 42px;
    color: #fff;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    margin: 0px auto 210px;
    display: block;
}

.ops:hover {
    background-image: -moz-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    background-image: -webkit-linear-gradient( 131deg, rgb(254,175,44) 0%,rgb(254,175,44) 100%);
    background-image: -ms-linear-gradient( 131deg, rgb(254,175,44) 0%,rgb(254,175,44) 100%);
}

.ops:active {
    background-image: -moz-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    background-image: -webkit-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    background-image: -ms-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
}



/*-----------------------------------------INNER------------------------------------------*/


.offerte-info {
    width: 100%;
    margin-top: 51px;
    padding: 0 140px 0 215px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #343955;
    background-image: url("../images/bg-head.png");
    background-size: cover;
    background-position-y: -15px;
    height: 154px;
    float: left;
    display: block;
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*!*align-items: center;*!*/
    /*-webkit-box-pack: center;*/
    /*-ms-flex-pack: center;*/
    /*-webkit-justify-content: center;*/
            /*justify-content: center;*/
}

.offerte-info .inner-marg {
    display: block;
    margin: auto;
    width: 980px;
}

.offerte-info label {
    font-family: 'Catamaran', sans-serif;
    display: inline-block;
    color: #9a9ad2;
    font-size: 14px;
    font-weight: 600;
    width: 100px;
    margin-right: 13px;
    text-align: left;

}


.offerte-info span {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #9a9ad2;
    position: relative;
}

.offerte-info input {
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.1);
    border-style: solid;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    width: 248px;
    height: 28px;
    background: transparent;
    padding: 0 8px 0 12px;
    color: #9a9ad2;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 8px;
}

.offerte-info input::-webkit-input-placeholder {
    font-size: 10px;
    color: #fff;
    opacity: 0.2;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
}

.offerte-info input:-moz-placeholder { /* Firefox 18- */
    font-size: 10px;
    color: #fff;
    opacity: 0.5;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;;
}

.offerte-info input::-moz-placeholder {  /* Firefox 19+ */
    font-size: 10px;
    color: #fff;
    opacity: 0.5;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
}

.offerte-info input:-ms-input-placeholder {
    font-size: 10px;
    color: #fff;
    opacity: 0.5;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
}

.offerte-info article {
    margin-top: 21px;
    /*width: 38.2%;*/
    float: left;
}

.offerte-info article:first-child {
    width: 386px;
}

.offerte-info .xs-date-inp {
    width: 53px;
    height: 28px;
    margin-right: 10px;
}

.offerte-info .dropdown-date {
    width: 85px;
    padding: 0 5px;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.1);
    border-style: solid;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    height: 28px;
    position: absolute;
    top: 0;
    right: 0;
}

.offerte-info .dropdown-content {
    background: #343953;
    border: 0;
    top: 22px;
}

#drop-text-inner {
    margin-top: 8.5px;
    color: #9a9ad2;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    font-size: 12px;
}

.offerte-info .ar {
    background: url("../images/arrow-inner.png");
    width: 8px;
    height: 7px;
    right: 5px;
    top: 12px;
}

.offerte-info article:last-child {
    margin-left: 64px;
    float: left;
    width: 522px;
}

.offerte-info h2 {
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #9a9ad2;
    margin-bottom: 20px;
}

.check-nav .check-inner {
    background: url("../images/radio.png") no-repeat;
    width: 19px;
    height: 19px;
    background-position: 50%;
    display: block;
    cursor: pointer;
    float: left;
}

.checked-inner {
    background: url("../images/radio-active.png") !important;
    background-position: 50%;
    background-repeat: no-repeat;
}

.check-nav span {
    width: 65px;
    float: left;
    margin-left: 14px;

}

.check-nav span:first-child {
    margin-left: 0;
    width: 80px;
}

.check-nav span:nth-child(3) {
    width: 77px;
}

.check-nav span:nth-child(4) {
    width: 78px;
}

.check-nav label {
    font-size: 12px;
    width: 36px;
    float: left;
    margin-right: 0;
    margin-top: 4px;
    margin-left: 10px;
}

.offer-btn-area {
    margin-top: 30px;
    display: block;
    float: left;
}

.offer-btn-area .new-offer {
    background-image: -moz-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    background-image: -webkit-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    background-image: -ms-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    width: 115px;
    height: 24px;
    text-align: center;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    border: 0;
    color: #fff;
    font-weight: 600;
    font-size: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.offer-btn-area .filter-offer {
    border-width: 2px;
    border-color: rgb(154, 154, 210);
    border-style: solid;
    background: transparent;
    width: 111px;
    height: 24px;
    font-weight: 600;
    font-size: 10px;
    color: #9a9ad2;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    cursor: pointer;
}

main {
    float: left;
    display: block;
    padding: 0 114px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

main h1 {
    font-size: 24px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 31px;
}

.table-info table {
    width: 100%;
}

.table-info tr {
    width: 100%;
}

.table-info tr:first-child {
    background: #f9f9fa;
    height: 40px;
    border-right: 1px solid #ebecef;
}

.table-info tr:first-child td {
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    color: #343955;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ebecef ;
    border-right: 0;
    padding: 5px 8px 0 8px;
}

.table-info tr:first-child td i {
    background: url("../images/arrow-black-table.png");
    width: 9px;
    height: 7px;
    display: block;
    float: right;
    margin-top: 2px;
}

.table-info tr:first-child td:first-child {
    cursor: default;
}

.td-i-hov {
    background: url("../images/arrow-black-hov.png") !important;
    transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
}

    .td-hov{
    background: -webkit-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -moz-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -ms-linear-gradient( 131deg, rgb(246,88,114) 0%, rgb(254,175,44) 100%);
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
}

.table-info td {
    vertical-align: middle;
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 5px 8px 0 8px;
    border: 1px solid #ebecef;
}

.table-info tr {
    height: 40px;
}

.table-info tr td:first-child {
    text-align: center;
}

.pagination {
    margin-top: 30px;
    display: block;
    float: right;
    margin-bottom: 50px;
}

.pagination .dropdown-date {
    margin-right: 13px;
    width: 21px;
    float: right;
    height: 32px;
    font-family: 'Roboto', sans-serif;
    padding: 0 20px 0 8px;
    text-align: right;
}

.pagination .dropbtn {
    margin-top: 9.5px;
}

.pagination .ar {
    right: 8px;
    top: 15px;
}


.pagination .pages {
    float: right;
    width: 177px;
    display: block;
    border: 1px solid #ebecef;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    overflow: hidden;
    height: 32px;
}

.pagination .pages a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 36px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center;
    height: 32px;
    text-decoration: none;
    font-size: 18px;
    float: left;
    opacity: 0.5;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.pagination .pages a:nth-child(2) {
    width: 34px;
}

.pages a:last-child span {
    border-right: 0;
}

.pages a:hover {
    background: #ebecef;
    opacity: 1;
}

.pages span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 34px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center;
    height: 34px;
    text-decoration: none;;
    float: left;

    border-right: 1px solid #ebecef;
    color: #000;
}



/*-----------------------------------------MEDIA------------------------------------------*/


@media only screen and (max-width : 1360px) {
    .head-info article {
        width: 41%;
    }
    .head-info h1 {
        width: 25%;
    }
}

@media only screen and (max-width : 1230px) {
    .info-inside input {
        width: 270px;
    }
    .info-inside .last-span input {
        width: 86px;
    }
}
@media only screen and (max-width: 1327px) {
    .offerte-info {
        padding: 0 15px;
    }
}


@media all and (max-width: 1342px) {
    .head-info article {
        width: 38%;
    }
    /*_::-webkit-full-page-media, _:future, :root .artekl-table {*/
        /*width: 45%;*/
    /*}*/
}


@media only screen and (min-width:1918px) {
    .head-info article {
        width: 25%;
    }
}

@media only screen and (min-width : 2350px) {
    .head-info article {
        width: 20%;
    }}

@media all and (max-width: 1166px) {
    .head-info article {
        min-height: 82px;
        width: 32%;
    }

    .head-info {
        min-height: 130px;
        padding: 0 40px;
    }

    .head-info h1 {
        width: 18%;
    }

    header {
        padding: 0 15px;
    }

    .add-files-main {
        margin-top: 180px;
    }
    .add-files-main span {
        margin-left: 0;
    }
    .info-inside span {
        width: 336px;
        float: left;
    }
    .info-inside input {
        width: 170px;
    }

    .info-inside {
        padding: 0 45px;
    }
    .info-inside .postcode-wid {
        width: 326px;
    }
    .info-inside .last-span input {
        width: 170px;
    }
    .active-arrow {
        right:20px;
    }
    .info-inside textarea {
        width: 204px;
    }
    .oms {
        float: left;
        width: 80px !important;
        margin-top: 11px;
        margin-right: 10px !important;
    }
    .info-artikel {
        padding:0 45px;
    }
    .info-artikel .active-arrow {
        right: 20px;
    }

    .main-table input {
        width: 90px;
    }
    .main-table td:first-child {
        padding-left: 15px;
        padding-right: 5px;
    }

    .artekl-table {
        display: table;
        float: left;
        margin-top: 4px;
        width: 45%;
        margin-left: 7%;
        margin-right: 10px;
    }
    .artekl-table span {
        width: 73px;
    }

    .plaats {
        width: 100px !important;
        margin-right: 24px !important;
        margin-left: 0;
    }
    .wd-lbl {
        width: 111px !important;
    }
    .dropdown-date {
        width: 171px;
    }
    .label-status {
        margin-left: 11px;
    }
    .main-table .dropdown-date {
        margin-right: 5px;
    }
    .main-table tr:first-child td {
        font-size: 12px;
    }
    .main-table .md-inp {
        width: 34px;
    }
    .main-table tr td:last-child {
        padding-right: 0;
    }
    .main-table .share-menu {
        top: -70px;
    left: -15px}

    .main-table .xs-inp {
        width: 15px; }
    .total-sum .units-font {
        padding-right: 5px;
    }
    .total-sum .sum-font {
        padding-right: 5px;
    }
    .offerte-info h2 {
        margin-bottom: 10px;
    }
    .offerte-info {
        padding: 0;
    }
    .offer-btn-area {
        margin-top: 11px;}

    .check-nav span {
        margin-left: 0;
        margin-bottom: 5px;
        width: 83px !important;
    }
    .offerte-info article:last-child {
        margin-left: 64px;
        float: left;
        width: 250px;
    }

    .offerte-info .inner-marg {
        width: 701px;
        height: 100%;
    }
}



@media all and (max-width: 1000px) {
    header nav ul li {
        margin-left: 10px;
        font-size: 13px;
    }

    header article address {
        font-size: 13px;
        margin-right: 10px;
    }

    main {
        padding: 0 45px;
    }
    .offerte-info article {
        margin-top: 21px;
        float: left;
    }

}

/*------------safari------------*/
_::-webkit-full-page-media, _:future, :root .offerte-info article:first-child {
    width: 387px;
}



